

<table class="news">
    <tr>
        <td class="news-col1">
            Advertisement column
        </td>
        <td class="news-col2">
            <ul>
                <li class="li-nobullet">
                    <div class="column1">
                        colonne 1
                    </div>
                    <div class="column2">
                        colonne 2
                    </div>
                    <div class="column-last">
                        colonne 3
                    </div>
                </li>

                <li class="li-nobullet">
                    <div class="column1">
                        colonne 1
                    </div>
                    <div class="column2">
                        colonne 2
                    </div>
                    <div class="column-last">
                        colonne 3
                    </div>
                </li>

                <li class="li-nobullet">
                    <div class="column1">
                        colonne 1
                    </div>
                    <div class="column2">
                        colonne 2
                    </div>
                    <div class="column-last">
                        colonne 3
                    </div>
                </li>

                <li class="li-nobullet">
                    <div class="column1">
                        colonne 1
                    </div>
                    <div class="column2">
                        colonne 2
                    </div>
                    <div class="column-last">
                        colonne 3
                    </div>
                </li>

            </ul>
        </td>
        <td class="news-col3">
            Action column
        </td>
    </tr>
</table>