@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/bundles/csshover")

<ul class="hover">
    <li>
        <span>Texte <img src="~/images/imageedit_1_8920012559.gif" width="100" height="100" /></span>
        <a class="source" target="_blank" href="mailto:talbot.eric@gmail.com">Contactez nous</a>
    </li>

    <li>
        <span>Texte2</span>
        <a class="source" href="http://www.yahoo.com">yyy</a>
    </li>

</ul>